* {
    box-sizing: border-box;
    overflow-x: hidden;
}
.transparent-overlay {
    background: rgba(0, 0, 0, 0.2);
  }

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.home{
    height: 90vh;
    width: 100vw;
    background-image: url(/images/charles.jpg);
    background-color: rgb(118, 175, 224);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-y: 70%;
}
.hometext h1{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    position: absolute;
    margin-left: 53vw;
    padding-top: 23vh;
}
.hometext h3{
    position: absolute;
    margin-left: 53vw;
    padding-top: 20vh;
    padding-bottom: 3vh;
    font-size: 25px;
}
.header{
    margin-bottom: 14px;
    display: block;
    font-size: 45px;
    text-transform: uppercase;
    color: #746666;
    font-weight: 800;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.about{
    height: 100vh;
    width: 90vw;
    padding-left: 5vw;
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 3px;
    line-height: 40px;
    overflow: hidden;
    margin-top: 40px;
}

.about-lower{
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 20px;
    font-size: 24px;
    margin-bottom: 30px;
}
.projects{
    height: 120vh;
    width: 90vw;
    padding-left: 8vw;
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 3px;
    line-height: 40px;
    overflow: hidden;
    margin-top: 40px;
}
.sect{
    margin-bottom: 10px;
    display: block;
    font-size: 45px;
    text-transform: uppercase;
    color: #746666;
    font-weight: 800;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.lower{
    color: white;
}


.passion{
    color:white;
}
.row{
    display: flex;
}
.row > div{
    margin: 10px;
    padding: 20px;
}
.projects .con{
    height: 100%;
    width: 100%;
    
}
#hidden {
    display: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    background-color: #f3e9e9;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.5;
}
.bx{
    height: 40vh;
    width: 40vw;
    position: relative;
    margin: 20px;
    border: 4px solid #99738e;
    border-radius: 10px;
    overflow: hidden;
    
}
.box-1{
    background-image: url(../images/projects/projectServ.png);
    background-size: cover;

}
.box-2{
    
    background-image: url(../images/projects/heartdis.jpg);
    background-size: cover;
}
.box-3{
    
    background-image: url(../images/projects/db.jpg);
    background-size: cover;
}
.box-4{
    background-image: url(../images/projects/aug.jpg);
    background-size: cover;
}
.passion-lower{
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 20px;
    font-size: 24px;
    margin-bottom: 30px;
}

.skills{
    height: 100vh;
    width: 90vw;
    padding-left: 8vw;
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 3px;
    line-height: 40px;
    overflow: hidden;
    margin-top: 40px;
}
.full-skill{
    display: flex;
}
.the-skill{
    padding: 8px;
    border: 1px solid rgb(118, 175, 224);
    border-radius: 50px;
    margin: 40px;
    width: 190px;
    background-size: cover;
    background-repeat: no-repeat;
}

.education{
    height: 150vh;
    width: 90vw;
    padding-left: 8vw;
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 3px;
    overflow: hidden;
    margin-top: 40px;
}
.edu-box{
    height: 33vh;
    margin-bottom: -45px;
}
.edubox-head{
    width:81vw;
    margin: 5px;
    box-shadow: 2px 2px 2px 2px;
    font-family: cursive;
    text-align: center;
}
.edubody{
    margin-top: 0.7%;
    height: 10vh;
    color: black;
    box-shadow: 2px 2px 2px 2px;
    width: 81vw;
    margin-left: 4px;
    text-align: center;
    padding-top: 13px;
}
.experience{
    height: 140vh;
    width: 90vw;
    padding-left: 8vw;
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 3px;
    overflow: hidden;
    margin-top: 40px;
}
.note{
    display: flex;
    height: 50wh;
}
.notebx{
    border: 7px;
    border-style: inset;
    width: 50%;
    height: 100vh;
    padding-left: 8px;
}
.note1{
    margin-right: 40px;
}






.contact {
    padding: 10px;
  }
  
  button {
    overflow: visible;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, input, select, textarea {
    color: #122293;
    font: inherit;
    margin: 0;
  }
  
  input {
    line-height: normal;
  }
  
  textarea {
    overflow: auto;
  }
  
  #container {
    border: solid 3px #122293;
    margin: 0 auto;
    max-width: 650px;
    max-height: 650px;
    position: relative;
    width: 100%;
  }
  
  form {
    padding: 45px;
  }
  
  h2 {
    color: #122293;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
  }
  
  .email {
      float: right;
      width: 45%;
  }
  
  input[type='text'], [type='email'], select, textarea {
      background: none;
    border: none;
      border-bottom: solid 2px #122293;
      color: #122293;
      font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
      margin: 0em 0 1.875em 0;
      padding: 0 0 0.875em 0;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  input[type='text']:focus, [type='email']:focus, textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
  }
  
  .message {
      float: none;
  }
  
  .name {
      float: left;
      width: 45%;
  }
  
  select {
    background: url('http://web.missouri.edu/~blly4b/ISLT7360/FinalProject/FINAL/icon-ios7-arrow-down-32.png') no-repeat right;
    -webkit-appearance: none;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .subject {
    width: 100%;
  }
  
  textarea {
      line-height: 150%;
      height: 100px;
      resize: none;
    width: 100%;
  }
  
  ::-webkit-input-placeholder {
      color: #122293;
  }
  
  #form_button {
    background: none;
    border: solid 2px #122293;
    color: #122293;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  .submit {
    text-align: center;
  }
  
  #form_button:hover {
    background: #122293;
    color: #ffffff;
  }

@media (max-width: 800px) {
    *{
        width: 100vw;
    }
    section{
        overflow-x: hidden;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .about{
        height: 115vh;
    }
    .sect{
        margin-bottom: 10px;
        display: block;
        font-size: 30px;
        
    }
    .toggle-button {
        display: flex;
        margin-top: 10px;
        margin-right: 25px;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }


    .home{
        height: 90vh;
        width: 100vw;
        background-image: url(/images/charles.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 64%;
        text-overflow:clip;
    }
    .hometext h1{
        color: rgb(90, 88, 88);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        position: absolute;
        margin-left: 4vw;
        margin-top: -155px;
        font-weight: 1000;
    }
    .hometext h3{
        padding-left: 35px;
        color: #ADADAD;
    }
    .about{
        line-height: 30px;
    }
    .about-heading{
        line-height: 42px;
    }

.projects{
    height: 200vh;
    
}
    .row{
        display: block;
    }
    .bx{
        height: 40vh;
        width: 80vw;
        position: relative;
        margin: 20px;
        border: 4px solid #99738e;
        border-radius: 10px;
        overflow: hidden;
        
    }
    .skills{
        height: 130vh;
        /* width: 90vw;
        padding-left: 8vw;
        font-size: 22px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        word-spacing: 3px;
        line-height: 40px;
        overflow: hidden;
        margin-top: 40px; */
    }
    .the-skill{
        
        border: 1px solid rgb(118, 175, 224);
        border-radius: 50px;
        width: 260px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x: 70%;
        margin: 3%;
        text-align: center;
        
    }
    .full-skill{
        display: grid;
    }
    .edubox-head{
        width:80vw;
        box-shadow: 2px 2px 2px 2px;
    }
    .edubody{
        box-shadow: 2px 2px 2px 2px;
        width: 80vw;
        height: 15vh;
        overflow: hidden;
    }
    .note{
        display:inline-block;
    }
    .experience{
        height: 300vh;
    }
    .notebx{
        border: 7px;
        border-style: inset;
        width: 81%;
        height: 140vh;
        padding-left: 8px;
        overflow-wrap:initial;
    }
    .note1{
        margin-bottom: 30px;
    }
    .moron{
        font-size: 20px;
    }
 
}